---
 const personalImageAlt = "Alberto Boga"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Alberto Boga pero me llaman Beto. Después de terminar el bachillerato, mi objetivo inicial era ser Policía Nacional. Sin embargo, una lesión en la muñeca me obligó a cambiar de rumbo y buscar nuevas oportunidades.
      <strong
        > Este giro inesperado me permitió descubrir mi pasión por el desarrollo web.</strong
      >.
    </p>

    <p>
      Actualmente, estoy cursando un grado superior en <strong>Desarrollo de Aplicaciones Web,</strong>  donde estoy aprendiendo a crear soluciones digitales innovadoras. 
      Mi formación técnica se complementa con un fuerte interés 
      en el mundo de las <strong> inversiones,  marketing y growth hacking</strong> , áreas que me apasionan y que considero esenciales para el éxito en el mundo del emprendimiento.
    </p>

    <p>
      Me apasiona ayudar a las personas a llevar sus negocios al siguiente nivel. Con mis conocimientos en desarrollo web y marketing,
       puedo crear soluciones digitales que mejoren la presencia en línea y aumenten el alcance de sus productos o servicios. 
      <strong>Mi objetivo es aportar estrategias que no solo atraigan a más clientes, sino que también generen un crecimiento sostenible y real en el tiempo.</strong>
    </p>
  </div>

  <img width="200" height="200" src="/miFoto.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>



