<div id="mc_embed_shell" class="p-6 bg-gray-500/20 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
    <div id="mc_embed_signup" class="">
      <form action="https://gmail.us17.list-manage.com/subscribe/post?u=fa428b10f3cad6e2c4e014c03&amp;id=17480a7d65&amp;f_id=0056c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll">
          <h2 class="text-xl font-bold text-gray-900 dark:text-white mb-4">Suscribete a mi Newsletter para recibir correos inspiradores</h2>
          <div class="mc-field-group mb-4">
            <label for="mce-EMAIL" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección de correo electrónico</label>
            <input type="email" name="EMAIL" id="mce-EMAIL" class="required email bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="tu@correo.com" required>
          </div>
         
          <div id="mce-responses" class="clear foot mt-4">
            <div class="response hidden" id="mce-error-response"></div>
            <div class="response hidden" id="mce-success-response"></div>
          </div>
          <div aria-hidden="true" class="absolute -left-[5000px]">
            <input type="text" name="b_fa428b10f3cad6e2c4e014c03_17480a7d65" tabindex="-1" value="">
          </div>
          <div class="optionalParent mt-4">
            <div class="clear foot flex justify-center">
              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="bg-blue-500 text-white py-2 px-4 rounded-lg cursor-pointer hover:bg-blue-600 transition" value="Subscribe">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  